:root {
  --primary-color: rgb(26, 32, 24);
  --secondary-color: hsl(85, 18%, 8%);
  --tertiary-color: hsl(105, 14%, 28%);
  --sub-heading: #B3BEC2;
}

.app-container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 40px;
  background-color: var(--primary-color);

}

body {
  background-color: var(--secondary-color);
  font-family: "Lekton", monospace;
}

.fx-reveal {
  opacity: 0;
  transform: translateY(30px);
}
.fx-reveal-visible {
  opacity: 1;
  transform: translateX(0);
  transition: 1200ms cubic-bezier(0.5, 0, 0, 1);
}
header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("https://architizer-prod.imgix.net/media/mediadata/uploads/1588932893456Formafatal_ArtVillas_ArtVilla_BoysPlayNice_01.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  padding: 200px 0;
  color: white;
}

header h1 {
  font-weight: 700;
  font-size: 96px;
  line-height: 1;
  letter-spacing: 2px;
  margin: 30px 0;
}

header h2 {
  font-weight: 400;
  font-size: 40px;
  line-height: 1.5;
  margin: 0;
}

header h3 {
  font-weight: 900;
  font-size: 24px;
  line-height: 1.5;
  letter-spacing: 5px;
  margin: 0;
  color: var(--sub-heading);
}

.grid {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-gap: 5px;
}
.grid-2-col {
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

section {
  max-width: 100%;
  margin: 0 auto;
  padding: 100px 0;
}
main {
  background-color: white;
}


main h2 {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  margin: 15px;
  letter-spacing: 5px;
  opacity: 0.6;
  color:#B3BEC2;
  text-transform: uppercase;
}

main h3 {
  font-weight: 700;
  font-size: 40px;
  line-height: 1.5;
   margin: 10px;
  color: var(--tertiary-color);
  
}
main h4 {
  font-weight: 700;
  font-size: 24px;
  line-height: 1;
  margin: 0;
}

main h5 {
  font-weight: 700;
  font-size: 13px;
  margin: 0;
  line-height: 1;
}

main p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  opacity: 0.7;
  text-align: justify;
  padding: 15px;
}

.img-fx {
  max-width: 100%;
  border-radius: 5px;
  --_g: 10%/45% 45% no-repeat conic-gradient(#000 0 0);
  mask: 
    left   var(--_i,) top    var(--_g),
    bottom var(--_i,) left   var(--_g),
    top    var(--_i,) right  var(--_g),
    right  var(--_i,) bottom var(--_g);
  filter: grayscale();
  transition: .3s linear;
  cursor: pointer;
}
.img-fx-visible {
  --_i: 10%;
  filter: grayscale(0);
}
.gallery-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.gallery {
  width: 200px;
  
}
footer {
  color: white;
  background-image: 
  linear-gradient(rgba(26, 32, 24, 0.8), rgba(26, 32, 24, 0.8)),
    url("https://i.pinimg.com/736x/ec/85/00/ec8500888c9e048247a9ec90e65eeb0f.jpg");

  background-repeat: no-repeat;
  background-size: cover;
  padding: 100px 20px;
}

footer h3 {
  color: var(--sub-heading);
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
}

footer p {
  font-weight: 400;
  font-size: 16px;
  opacity: 0.7;
  line-height: 24px;
}

footer ul {
  padding: 0;
}

footer li {
  list-style: none;
  margin-bottom: 10px;
  padding: 0;
}

footer a {
  color: white;
  opacity: 0.7;
  font-size: 18px;
  letter-spacing: 2px;
  text-decoration: none;
  
}

@media (max-width: 800px) {
  .app-container {
    padding: 5px;
  }

  header {
    padding: 60px 0;
  }

  header h1 {
    font-size: 48px;
  }

  header h2 {
    font-size: 20px;
  }

  header h3 {
    font-size: 12px;
  }

  .grid {
    grid-template-columns: 1fr;
    grid-gap: 32px;
  }

  section {
    padding: 30px;
  }

}